
{% extends 'template.html' %}

{% load static %}

{% block content %}
    <div class="container" id="div-h3">
        <div class="row">
            <div class="col-12">
                <h2 class="display-4" style="margin-left: 6%"> Выездные школы </h2>
            </div>
        </div>
        <hr>

        {% for post in posts %}
        <div style="margin-top: 5%" class="row">
            <div class="media">
                <img style="width: 150px; max-width: 100%; height: auto;" class="mr-3 img-fluid" src="{{ post.logo.url }}" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0"> {{ post.name }}</h5>
                    {{ post.text }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
